body {
    background: beige!important;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    display: inline-grid;
    border-radius: 5px;
    
}
#root {
    width: 100%;
}

.name-form {
    margin-bottom: 5px;
    border-radius: 5px;
}
.form-message {
    height: 100px;
    width: 500px;
    border-radius: 5px;
}